html, body, .img-container {
  padding: 0;
  margin: 0;
}
body {
  background: #000000;
}
.img-container {
  position: relative;
  width: 100%;
}
.img-container img {
  display: none;
}
img.main {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.thumbnail-container {
  position: fixed;
  top: 0;
  right: calc(25% + 40px);
  bottom: 0;
  overflow-y: auto;
  width: 100px;
  background: rgba(0, 0, 0, 0.4);
}

.thumbnails {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.thumbnail-container .thumbnails img.selected {
  border: 2px solid blue;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  width: 25%;
  background: rgba(0, 0, 0, 0.4);
  font-family: sans-serif;
  color: #FFFFFF;
  padding: 20px;
}

.sidebar h2 {
  font-size: 14px;
}

.sidebar h2 a {
  color: #FFFFFF;
  text-decoration: underline;
}

.sidebar h2 a:hover {
  color: #C0C0C0;
}
